*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Kanit',sans-serif;
}
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    /* padding: 2rem; */
}
.header{
    padding: 0.5rem;
    border-bottom: 1px solid black;
}
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.5rem;
}
.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}
.logo-text{
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    display: none;
    gap: 1.5rem;
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-button{
    display: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 0.375rem;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 600;
}
.contact-button:hover{
        background-color: #5254f8;
        
}
.menu-button{
    display: flex;
    border: none;
    border-radius: 0.375rem;
    transition: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem;
    }
.menu-button svg{
    height: 1.5rem;
    width: 2.5rem;
    display: block;
    }
@media (min-width:768px){
        .nav{
            display: flex;
        }
        .contact-button{
            display: block;
        }
        .menu-button{
            display: none;
        }
}
.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}
.content-left{
    text-align: center;
    animation: slideFromleft 0.7s ease forwards;
    opacity: 0;
}
@keyframes slideFromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }  
}
@keyframes slideFromright {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }    
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}
.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}
.button-group{
    display: flex;
    gap: 1.2rem;
    padding: 1rem;
    margin-top: 1rem;  
    align-items: center;
    justify-content: center; 
    }
.start-button,.tour-button{
margin-top: 2rem;
border: none;
border-radius: 0.375rem;
background-color: var(--primary-color);
color: var(--background-color);
transform: all 0.1s;
padding: 0.75rem 1.5rem;
font-size: 1rem;
font-weight: 600;
}
.tour-button{
    background-color: var(--dark-gray);
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: var(--gray);
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideFromright 1s ease forwards;
}
.image-container{
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    height: 57vh;
}
.section-image{
    height: 100%;
    width: 100%;
}
@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
        padding:  0.4rem 3rem;
        justify-content: center;
        align-items: center;
    }    
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: start;
        padding-left:  0;
    }
    .section-label{
        font-size: 1rem;
    }
    .section-title{
        font-size: 3rem;
    }
    .image-container{
        height: 70vh;
    }
    .section-description{
        font-size: 1.1rem;
        width: 80%;
        color: var(--gray);
    }
}
.cmpy-container{
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    animation: slideFromleft 1s ease forwards;

}
.companies{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.9rem 2.4rem;
}
.company{
    font-size: 1rem;
    font-weight: bold;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
}
.svg-img{
    height: 1.6rem;
}
.company-text{
    font-size: 1rem;
}
@media screen and (min-width:640px){
    .companies{
        grid-template-columns: repeat(4,1fr);
    }
}
.advtgs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    padding-bottom: 1rem;
}
.advtgs-text{
    font-size: 1.1rem;
    width: 60%;
    font-weight: 200;
    color: #696969;
}
.advtgs-card{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-top: 1.3rem;
}
.card{
    display: flex;
    width: 350px;
    height: 250px;
    flex-direction: column;
    background-color: #3f83f8;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 1rem;
    padding: 2rem 0;
    row-gap: 1rem;
}
.feature-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #f0f0f0;
}
.feature-description{
    font-size: 1rem;
    font-weight: 300;
    color: #f0f0f0;
}
.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.img1{
    width: 3rem;
    height: 2rem;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:nth-child(2){
    background-color: #ff6289;
}
.card:nth-child(3){
    background-color: #fcbf58;
}
.card:nth-child(4){
    background-color: #44bfc3;
}
.card:nth-child(5){
    background-color: #77b05d;
}
.card:nth-child(6){ 
    background-color: #9f5ebd;
}
@media screen and (max-width:768px){
    .advtgs-card{
        grid-template-columns: repeat(1,1fr);
    }    
}
.testimonial-container{
    background-color: var(--background-color);
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
}
.testimonial-title{
    font-size: 1.9rem;
    font-weight: bold;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 2rem;
    /* margin: 2rem; */
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem;
    border: 1px solid rgb(126, 123, 123);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    border: 1px solid blue;
}
.testimonial-avatar img{
    height: 5rem;
    width: 5rem;
}
.testimonial-text{
    font-size: 0.875rem;
    color: #808080;
}
.testimonial-name{
    color: var(--primary-color);
    font-size: 1rem;
}
.testimonial-desc{
    font-size: 0.875rem;
    color: #443e3e77;
}
.news-container{
    background-color: var(--background-color);
    padding: 2rem;
    max-width: 1280px;
    height: 45vh;
    max-width: 1200px;
    margin: 0 auto;
}
.news-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}
.left-box{
    height: 100%;
    width: 50%;
}
.left-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;
}
.right-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: start;
    align-items: start;
    margin: 0.5rem 3rem;
}
.news-title{
    font-size: 2.2rem;
    align-self: flex-start;
    justify-content: flex-start;
    font-weight: bold;
    color: var(--primary-color);
}
.news-desc{
    align-items: start;
    color: #777;
}
.news-form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}
.news-email{
    background-color: var(--background-color);
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}
.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
}
.news-send-btn{
    padding: 0 1rem;
    border-radius: 0.2rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1rem;
}
.news-send-btn:hover{
    background-color: var(--link-color);
}
.privacy-policy{
    font-size: 0.86rem;
    color: #777;
}
.news-link{
    text-decoration: underline;
    color: #2563eb;
}
@media screen and (max-width:640px) {
    .left-box{
        display: none;
    }
    .news-container{
        padding: 0 2rem;
    }    
}
/* .footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.study-sync-section{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    justify-content: start;
    align-items: start;
}
.handles{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products{
    display: flex;
    gap: 1rem;
    align-items: start;
}
.product-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
} */
.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}
.footer{
    max-width: 1280px;
    padding: 1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}
.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}
.logo-svg{
    width: 1.9rem;
    height: 5.8rem;
}
.cmpy-logo{
    display: flex;
    flex-direction: column;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.29rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.social{
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.95rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}
@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }    
    /* .footer-top{
        padding-top: 9rem;
    } */
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}
@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 3rem;
    }  
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }  
}