.box{
    margin-top: 2rem;
    border: 1px solid white;
    border-radius: 2rem;
    justify-content: center;
    margin: 1rem;
}
.box h2{
    color: aliceblue;
}
.box button{
    margin-left:1rem;
    margin-bottom: 1rem;
}