.LoginForm input.button{
    padding: 0.7rem;
    margin: 0.5rem 0;
}
.LoginForm{
    justify-content: center;
    background-color: rgba(148, 152, 155, 0.16);
    padding: 1rem;
    border: 0.2px solid #a5a50374;
    border-radius: 1rem;
}
.LoginForm:hover{
    transition: 1ms ease-in-out;
    box-shadow: 
    0 0 10px #f8f8f8, 
    0 0 20px #ff00ff, 
    0 0 30px #ff00ff, 
    0 0 60px #ff00ff;
}