/* Custom styles for icon-link */
#icon-link {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

/* Apply only if using custom transformations not covered by Tailwind */
#icon-link:nth-child(1):hover {
  transform: rotateX(-10deg) rotateY(15deg);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

#icon-link:nth-child(2):hover {
  transform: rotateX(10deg) rotateY(-15deg);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

#icon-link:nth-child(3):hover {
  transform: rotateX(-15deg) rotateY(10deg) rotateZ(5deg);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

#icon-link:nth-child(4):hover {
  transform: rotateX(15deg) rotateY(-10deg) rotateZ(-5deg);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

#icon-link:nth-child(5):hover {
  transform: rotateX(-20deg) rotateY(20deg);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}
