@media (max-width:760px) {
    #main{
        display: flex;
        flex-direction: column;
    }    
}
#card:hover{
    box-shadow: 
    0 0 10px rgba(45, 46, 45, 0.5),
    0 0 20px rgba(193, 202, 193, 0.4),
    0 0 30px rgba(216, 223, 216, 0.3),
    0 0 40px rgba(255, 255, 255, 0.2);    
}
