@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
  display: flex;
  gap: 34px;
  background-color: rgb(255, 230, 8);
  padding: 1rem;
  justify-content: center;
  color: rgb(89, 0, 7);
  font-weight: bold;
  border: 1px solid rgb(224, 249, 2);
}
nav a:hover{
  color: rgb(117, 3, 3);
}
li{
  list-style: none;
}
li a{
  color: aliceblue;
}
li a:hover{
  color: antiquewhite;
}