*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}
section div{
    display: flex;
    flex-direction: column;
}
.purple{
    color: #7b07ff;
}
.border{
    border: 3px solid grey;
}
.pokemons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
}
img{
    display: block;
}