*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    max-width: 86vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.header-container{
    margin-bottom: 2.5rem;
}
.header-title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
} 
.header-desc{
    max-width: 560px;
    text-align: center;
    color: rgb(105, 99, 99);
    margin: 0 auto;
}
.main-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    justify-content: center;
}
.card-container{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 5px;
}
.card-image-container{
    position: relative;
    overflow: hidden;
    height: 7rem;
}
.card-image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card-title-container{
    display: flex;
    flex-direction: column; 
    padding: 1.5rem;  
}
.card-container:hover .card-image{
    transform: scale(1.1);
    transition-duration: 300ms;
    transition: ease-in-out;
}
.card-title{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(50, 47, 47);
}
.card-title:hover{
    color: rgb(86, 86, 248);
    text-transform: none;
    text-decoration: none;
}
.card-desc{
    color: rgb(107, 95, 95);
    font-size: 0.9rem;
} 
.card-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
}
.author-container{
    display: flex; 
    align-items: center;
    justify-content: end;
    gap: 1rem;
}
.author-avatar-container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(224, 218, 218);
}
.card-tag-container span{
    border: 2px solid rgb(117, 114, 114);
    padding: 5px 7px;
    margin: 0 auto;
    font-size: 0.9rem;
    line-height: 1.3rem;
    border-radius: 4px;
    color: rgb(79, 75, 75);
}
.author-info-container{
    display: flex;
    flex-direction: column;
}
.author-name{
    color: blueviolet;   
}
.author-date{
    color: rgb(112, 104, 104);
}