*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Kanit',sans-serif;
}
:root {
    --primary-color: #cfd0ff;
    --accent-color: #bcc6d6;
    --text-color: #ffffff;
    --link-color: #2563eb;
    --background-color: #091B2A;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    /* padding: 2rem; */
}
.header{
    padding: 0.5rem;
    border-bottom: 1px solid rgb(199, 195, 195);
    background-color: #010b13;
}
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.5rem;
}
.cmpy-container h1{
    color: #808080;
}
.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}
.logo-text{
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    display: none;
    gap: 1.5rem;
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-button{
    display: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 0.375rem;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 600;
}
.contact-button:hover{
        background-color: #5254f8;
        
}
.menu-button{
    display: flex;
    border: none;
    border-radius: 0.375rem;
    transition: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem;
    }
.menu-button svg{
    height: 1.5rem;
    width: 2.5rem;
    display: block;
    color: #f1f7ff;
    }

@media (min-width:768px){
        .nav{
            display: flex;
        }
        .contact-button{
            display: block;
        }
        .menu-button{
            display: none;
        }
}
.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}
.content-left{
    text-align: center;
    animation: slideFromleft 0.7s ease forwards;
    opacity: 0;
}
@keyframes slideFromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }  
}
@keyframes slideFromright {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }    
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}
.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}
.button-group{
    display: flex;
    gap: 1.2rem;
    padding: 1rem;
    margin-top: 1rem;  
    align-items: center;
    justify-content: center; 
    }
.start-button,.tour-button{
margin-top: 2rem;
border: none;
border-radius: 0.375rem;
background-color: var(--primary-color);
color: var(--background-color);
transform: all 0.1s;
padding: 0.75rem 1.5rem;
font-size: 1rem;
font-weight: 600;
}
.tour-button{
    background-color: var(--dark-gray);
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: var(--gray);
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideFromright 1s ease forwards;
}
.image-container{
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    height: 57vh;
}
.section-image{
    height: 100%;
    width: 100%;
}
.section-image:hover{
    transform: scaleY(1.1) scaleX(1.2);
}
@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
        padding:  0.4rem 3rem;
        justify-content: center;
        align-items: center;
    }    
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: start;
        padding-left:  0;
    }
    .section-label{
        font-size: 1rem;
    }
    .section-title{
        font-size: 3rem;
    }
    .image-container{
        height: 70vh;
    }
    .section-description{
        font-size: 1.1rem;
        width: 80%;
        color: var(--gray);
    }
}
.cmpy-container{
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    animation: slideFromleft 1s ease forwards;

}
.companies{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    padding: 1.9rem 2.4rem;
}
.company{
    font-size: 1rem;
    font-weight: bold;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
}
.svg-img{
    height: 1.6rem;
}
.company-text{
    font-size: 1rem;
}
@media screen and (min-width:640px){
    .companies{
        grid-template-columns: repeat(4,1fr);
    }
}