/* Container and Wrapper */
.project-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 90%;
    padding: 16px;
    gap: 16px;
}

.projects-heading {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
}

@media (max-width: 740px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media (max-width: 548px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }    
}
