/* Border Styles */
#border {
    border: 1px solid rgb(83, 136, 169);
    transition: all 0.2s ease-in-out;
    margin-bottom: 1.5rem;
}

/* Projects Heading Hover Effect */
#projects-heading:hover {
    text-shadow: 
        0 0 10px rgba(203, 209, 203, 0.5),
        0 0 20px rgba(193, 202, 193, 0.4),
        0 0 30px rgba(216, 223, 216, 0.3),
        0 0 40px rgba(255, 255, 255, 0.2);
}

/* Hover Effects for Border */
#border:hover:nth-child(1) {
    box-shadow: 
        0 0 10px rgba(0, 255, 0, 0.5),
        0 0 20px rgba(0, 255, 0, 0.4),
        0 0 30px rgba(0, 255, 0, 0.3),
        0 0 40px rgba(0, 255, 0, 0.2);
}

#border:hover:nth-child(2) {
    box-shadow: 
        0 0 10px rgba(209, 255, 5, 0.5),
        0 0 20px rgba(209, 255, 5, 0.4),
        0 0 30px rgba(209, 255, 5, 0.3),
        0 0 40px rgba(209, 255, 5, 0.2);
}

#border:hover:nth-child(3) {
    box-shadow: 
        0 0 10px rgba(0, 183, 255, 0.5),
        0 0 20px rgba(0, 183, 255, 0.4),
        0 0 30px rgba(0, 183, 255, 0.3),
        0 0 40px rgba(0, 183, 255, 0.2);
}

#border:hover:nth-child(4) {
    box-shadow: 
        0 0 10px rgba(255, 0, 0, 0.5),
        0 0 20px rgba(255, 0, 0, 0.4),
        0 0 30px rgba(255, 0, 0, 0.3),
        0 0 40px rgba(255, 0, 0, 0.2);
}

#border:hover:nth-child(5) {
    box-shadow: 
        0 0 10px rgba(255, 0, 179, 0.5),
        0 0 20px rgba(255, 0, 179, 0.4),
        0 0 30px rgba(255, 0, 179, 0.3),
        0 0 40px rgba(255, 0, 179, 0.2);
}

#border:hover:nth-child(6) {
    box-shadow: 
        0 0 10px rgba(174, 0, 255, 0.5),
        0 0 20px rgba(174, 0, 255, 0.4),
        0 0 30px rgba(174, 0, 255, 0.3),
        0 0 40px rgba(174, 0, 255, 0.2);
}

/* Slide Up Animation */
@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 740px) {
    #project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media (max-width: 548px) {
    #project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    
}
