#border {
    border: 1px solid rgb(83, 136, 169);
}

#border:hover {
    transition: all 0.2s ease-in-out;
    border: 1px solid snow;
}
#border:hover:nth-child(1) {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.8); 
}

#border:hover:nth-child(2) {
    box-shadow: 0 0 15px rgba(209, 255, 5, 0.8); 
}
#border:hover:nth-child(3) {
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.8); 
}
#border:hover:nth-child(4) {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.8); 
}
#border:hover:nth-child(5) {
    box-shadow: 0 0 15px rgba(255, 0, 179, 0.8); 
}
#border:hover:nth-child(6) {
    box-shadow: 0 0 15px rgba(174, 0, 255, 0.8); 
}
@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
