html{
    scroll-behavior: smooth;
    width: 100%;
}
span a{
    text-decoration: none;
}
span a:hover{
    color: aliceblue;
    text-decoration: underline;
}
#name{
 animation: slideUp 1s ease-in-out;   
}
#header{
    animation: slideDown 2s ease-in;
    position: absolute;
}
/* Header.css */
@keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  #gradient-border {
    height: 2px;
    width: 100%;
    background: linear-gradient(45deg, #f70303, #fcfbf9, #00f9ff, #ff00e6); /* Gradient colors */
    background-size: 400% 400%; /* Allows smooth animation across a larger area */
    animation: gradientAnimation 5s ease infinite; /* Apply animation */
  }
  
  
/* Header.css */
#header {
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
    background-color: black;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0; /* Reset any unwanted margin */
  }
    
@keyframes slideUp {
    from{
        transform: translateY(100px);
        opacity: 0;
    }    
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideDown {
    from{
        transform: translateY(0);
        opacity: 0;
    }
    to{
        transform: 100px;
        opacity: 1;
    }
    
}
@media (max-width:780px) {
    h2{
        display: inline-block;
    }    
    button{
        display: none;
    }
}
@keyframes slideRight {
    from{
        transform: translateX(-100);
        opacity: 0;
    }    
    to{
        transform: translateX(100);
        opacity: 1;
    }
}